<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>


    <bean id="movie" class="com.stackroute.domain.Movie" autowire="byName">
    </bean>
    <bean id="movie1" class="com.stackroute.domain.Movie" autowire="constructor"/>
    <!-- Entering the first actor object values-->
    <bean id="actor" class="com.stackroute.domain.Actor">
        <constructor-arg name="name" value="ShahRukh Khan"/>
        <constructor-arg name="gender" value="Male"/>
        <constructor-arg name="age" value="53" />
    </bean>
    <bean id="actor2" class="com.stackroute.domain.Actor">
        <constructor-arg name="name" value="Kartik Aaryan"/>
        <constructor-arg name="gender" value="Male"/>
        <constructor-arg name="age" value="28" />
    </bean>
    <bean id="bean" class="com.stackroute.domain.BeanLifeCycleDemoBean"></bean>


</beans>